html, body {
  height: 100%; /* Make sure the html and body cover the full height of the viewport */
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to create a column container */
  flex-direction: column; /* Align children (content and footer) in a column */
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  min-height: 100%;
  position: relative;
}

.container {
  flex: 1; /* This will make the content expand to fill the available space, pushing the footer down */
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: grid;
    grid-template-areas:
      "logo col1 col2 cta"
      "social col1 col2 cta"
      "copyright col1 col2 github";
  background-color: black;
  color: white;
  margin-top: 100px;
}

footer .footer-cta .button{
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
}
footer .footer-cta .button:hover{
  color: skyblue;
  cursor: pointer;
}

@media (min-width: 64em) {
  .footer {
    padding: 3.125rem;
    padding-bottom: 0;
  }
}
@media (min-width: 64em) {
footer .footer-cta .button{
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  border-radius: 25px;
  padding: 7px;
  width: 200px;
  }
}
@media (min-width: 64em) {
  .footer .container {
    margin-bottom: 0;
    flex: 1;
    display: grid;
    grid-template-areas:
      "logo col1 col2 cta"
      "social col1 col2 cta"
      "copyright col1 col2 github";
    justify-items: start;
  }
}

@media (max-width: 63.9375em) {
  .footer .footer-logo {
    padding-top: 20px;
    margin-bottom: 1.875rem;
    scale: 100%;
  }
}

@media (min-width: 64em) {
  .footer .footer-logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer .footer-social-media {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
.footer .footer-social-media {
    grid-area: social;
    align-self: end;
  }
}

.footer .footer-social-media a:not(:last-child) {
  margin-right: 20px;
  scale: 50px;
}

.footer .footer-social-media a:hover svg {
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.footer .footer-social-media svg.light {
  filter: invert(1);
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {
  .footer .footer-links {
    align-items: flex-start;
  }
}
/*Footer links in phone view*/
.footer .footer-links a {
  color: #fff;
  font-size: 50px;
  line-height: 2.25;
  margin-top: 10px;
  transition: color 0.2s ease-in-out;
}

.footer .footer-links a:hover {
    color: skyblue;
    cursor: pointer;
}

@media (min-width: 64em) {
  .footer .footer-links a {
    color: #fff;
    font-size: 18px;
    line-height: 2.25;
    transition: color 0.2s ease-in-out;
  }
}

@media (min-width: 64em) {
  .footer .col1 {
    grid-area: col1;
  }
}

@media (max-width: 63.9375em) {
  .footer .col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer .col2 {
    grid-area: col2;
  }
}

@media (max-width: 63.9375em) {
  .footer .footer-cta {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer .footer-cta {
    grid-area: cta;
    justify-self: end;
  }
}

.footer .footer-copyright p {
  color: gray;
  margin-top: auto;
  font-size: 11px;
}

@media (min-width: 64em) {
  .footer .footer-copyright {
    grid-area: copyright;
    display: inline-flex;
    align-items: flex-end;
  }
}

.attribution {
  color: #fff;
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 2rem;
}

.attribution .outer-link {
  color: #fff;
  margin-left: 0.0625rem;
  transition: all 0.2s ease-in-out;
}

.attribution .outer-link:hover {
  cursor: pointer;
  color: skyblue;
}

.attribution .footer-github {
  list-style: none;
  margin-left: 2.5px;
  position: relative; 
  top: 6px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.attribution .footer-github img {
  grid-area: github;
  width: 25px;
  transition: transform 0.2s ease-in-out;
}

.attribution .footer-github img:hover {
  transform: scale(1.15);
}

.attribution .footer-github img.light {
  filter: invert(1);
}
