body {
  height: 100%;
}
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container .about-container {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
}

.main-container .about-photo {
  margin-bottom: 50px;
  margin-left: 300px;
  margin-right: 20px;
  flex-shrink: 0;
}

.main-container h1 {
  margin-top: 100px;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: "Renogare Soft", sans-serif;
  font-size: 100px;
}

.main-container p {
  font-family: "Renogare Soft", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 300px;
}
/* Slideshow for Index*/
.ss-container-1 {
  position: relative;
  max-width: 1000px;
  margin: 20px auto;
  height: 400px;
  overflow: hidden;
}

.ss-slide-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.ss-image-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ss-slide-1.ss-active-1 {
  opacity: 1;
}
/* Adjustments for screens smaller than 1024px (Desktops and large tablets) */
@media screen and (max-width: 1024px) {
  .main-container .about-photo {
    margin-left: 50; /* Center the photo */
    margin-right: 50; /* Remove specific right margin */
  }
  .main-container .about-container {
    flex-direction: column;
  }
  .main-container p {
    margin-right: 50px; /* Adjust right margin for text */
    margin-left: 50px; /* Add left margin to align text properly */
    margin-bottom: 25px;
    font-size: 35px;
  }
  .main-container h1 {
    font-size: 75px;
  }
}

/* Adjustments for screens smaller than 768px (Tablets) */
@media screen and (max-width: 768px) {
  .main-container .about-photo {
    margin-left: 100px;
  }
  .main-container p {
    text-align: center;
    margin: 20px 50px; /* Simplify margins for better responsiveness */
    font-size: 25px; /* Adjust font size for readability */
  }
}

/* Adjustments for screens smaller than 425px (Mobile phones) */
@media only screen and (max-width: 425px) {
  .main-container p {
    margin: 20px 30px; /* Further reduce margins for very small screens */
    font-size: 20px; /* Further reduce font size for small screens */
  }
}
